.topPhoto {
  margin: 0 -32px;
  display: block;
  @include mq(1000) {
    margin: 0 calc((-1 * (100vw - 936px)) / 2);
  }
  &_img {
    width: 100%;
    height: calc(100vw * 0.618);
    object-fit: cover;
    border-radius: 100vw 0 0 0 / calc(100vw * 0.618 / 20) 0 0 0;
  }
}
